
<input type="text" class="date-input" placeholder="Date" />
<div class="datepicker" hidden>
    <!-- .datepicker-header -->
    <div class="datepicker-header">
        <button class="prev">Prev</button>

        <div>
        <select class="month-input">
            <option>Janvier</option>
            <option>Fevrier</option>
            <option>Mars</option>
            <option>Avril</option>
            <option>Mai</option>
            <option>Juin</option>
            <option>Juillet</option>
            <option>Aout</option>
            <option>Septembre</option>
            <option>Octobre</option>
            <option>Novembre</option>
            <option>Decembre</option>
        </select>
        <input type="number" class="year-input" />
        </div>

        <button class="next">Next</button>
    </div>
    <!-- /.datepicker-header -->

    <!-- .days -->
    <div class="days">
        <span>Dim</span>
        <span>Lun</span>
        <span>Mar</span>
        <span>Mer</span>
        <span>Jeu</span>
        <span>Ven</span>
        <span>Sam</span>
    </div>
    <!-- /.days -->

    <!-- .dates -->
    <div class="dates"></div>
    <!-- /.dates -->

    <!-- .datepicker-footer -->
    <div class="datepicker-footer">
        <button class="cancel">Annuler</button>
        <button class="apply">Valider</button>
    </div>
    <!-- /.datepicker-footer -->
</div>