{% extends 'base.html.twig' %}

{% block title %}EcoRide - Covoiturez l'esprit tranquille{% endblock %}

{% block stylesheets %}
    {% parent %}
{% endblock %}


{% block body %}



<div class="example-wrapper">
    <h1>Covoiturez l'esprit tranquille ICONE</h1>
    <p>My first p on this project</p>
</div>
{% endblock %}
