{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<h1>Mentions légales</h1>

<h2>Éditeur du site</h2>
<ul>
    <li><strong>Nom de l'application</strong> : EcoRide</li>
    <li><strong>Éditeur</strong> : NAVY DEV</li>
    <li><strong>Statut juridique</strong> : Auto-entrepreneur</li>
    <li><strong>Adresse du siège social</strong> : 211 route de vienne</li>
    <li><strong>N° SIRET</strong> : 98476240100011</li>
    <li><strong>Email</strong> : <a href="mailto:contact@ecoride.fr">contact@ecoride.fr</a></li>
</ul>

<h2>Hébergement</h2>
<ul>
    <li><strong>Hébergeur</strong> : OVH</li>
    <li><strong>Adresse</strong> : 2, rue Kellermann, 59100 Roubaix</li>
    <li><strong>Site web</strong> : <a href="https://www.ovhcloud.com/">https://www.ovhcloud.com/fr</a></li>
</ul>

<h2>Propriété intellectuelle</h2>
<p>
    Tous les contenus présents sur ce site sont protégés par le droit de la propriété intellectuelle.
    Toute reproduction ou utilisation non autorisée est interdite.
</p>

<h2>Données personnelles</h2>
<p>
    Conformément à la réglementation RGPD, vous pouvez exercer vos droits à l’adresse :
    <a href="mailto:contact@ecoride.fr">contact@ecoride.fr</a>.
</p>

<h2>Cookies</h2>
<p>
    Ce site peut utiliser des cookies. Vous pouvez configurer votre navigateur pour les refuser.
</p>
{% endblock %}
