{{ form_start(form, {'attr': {'class':'form-green-column edit-mail-form'}}) }}

    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    
    <button type="button" class="btn-green inactive submit-btn" id="submit-btn">Modifier</button>

{{ form_end(form) }}