@import 'variables.scss';

// .body-content.publier-trajet {
//     background-color: red;
// }

.add-voiture-section {
    form {
        background-color: $green-medium;
        padding: 20px;
        border-radius: 20px;
    }

    .suggestions-box {
        max-height: 150px;
        overflow-y: auto;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        background: white;
        width: 100%;
        z-index: 10;
        top:110%;
        border-radius: 10px;
        box-shadow: 0px 2px 5px $green-black-25;


        li {
            padding: 5px;
            color: $green-black;
        }

        li:hover {
            background: $green-white;
        }
        
    }

    #add-voiture-back-btn {
        cursor: pointer;
        color: $green-black-75;
        display: flex;
        align-items: center;
        flex-direction: row;

        span {
            margin-top: 4px;
        }

        svg {
            width: 30px;
            height: 30px;
        }
    }

    .row-inputs {
        flex-wrap: wrap;
        align-items: center !important;

        .select-color-placeholder {
            color: $green-black-50;
        }

        .color-view {
            position: absolute;
            right: 30px;
            height: 20px;
            width: 20px;
            border-radius: 100px;
        }
    
        .switch {
            position: relative;
            display: inline-block;
            width: 70px;
            height: 30px;
    
    
            input { 
                opacity: 0;
                width: 0;
                height: 0;
            }
    
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: none;
                outline: solid 1px $green-black;
                -webkit-transition: .4s;
                transition: .4s;
            }
    
            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 2px;
                bottom: 2px;
                background-color: $green-black;
                -webkit-transition: .4s;
                transition: .4s;
            }
                
            input:checked + .slider {
            background-color: $green-btn;
            outline: none;
            }
            
            input:focus + .slider {
            box-shadow: 0 0 1px $green-black-25;
            }
            
            input:checked + .slider:before {
            -webkit-transform: translateX(38px);
            -ms-transform: translateX(38px);
            transform: translateX(38px);
            outline: none;
            }
            
            /* Rounded sliders */
            .slider.round {
            border-radius: 34px;
            }
            
            .slider.round:before {
            border-radius: 50%;
            }
        }
    }
   

    

    
        
        
        
        
    

}