.slide-down {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease-out;
    opacity: 1;
    display: none;
}

.slide-down.show {
    max-height: 500px; /* Ajuste selon le contenu max attendu */
    display: flex;
    // overflow: auto;
}

.slide-down.fade {
    opacity: 0;
}

.fadeup {
    opacity: 0;
    max-height: 0px;
    transition: all 1s ease 500ms;
    // pointer-events: none;
}

.fadeup.show {
    opacity: 1;
    pointer-events: auto;
    max-height: 100px;
    // display: flex;
}

.fade-slide {
    opacity: 0;
    max-height: fit-content;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}

.fade-slide.show {
    opacity: 1;
    max-height: 500px;
}



