@import  'home.scss';
@import 'variables.scss';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'datepicker.scss';


body {
    background: $blue-background;
    margin: 0px;
}

.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

h1, a, label {
    margin-bottom: 0px;
    font-family: $josefin-sans;
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-size : 32px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    font-family: $nunito ;
    font-weight: 600;
}
span {
    font-size: 16px;
    font-family: $josefin-sans ;
    font-weight: 600;
}

.josefin-sans-title {
    font-family: $josefin-sans;
    font-weight: 700;
}

.btn-green-black, .btn-blue {
    padding: 10px 20px;
    text-align: center;
    border-radius: 100px;
    border: none;
}

.btn-green-black {
    background-color: $green-black;
    color: $green-white;
}
.btn-blue {
    background-color: $blue-btn;
    color: $blue-background;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: $green-medium;
    box-shadow: 0 2px 10px $green-black-25;
    position: fixed;
    width: -webkit-fill-available;
    left: 0px;
    top: 0px;
    z-index: 1000;

    &__logo  {
        text-decoration: none;
        gap: 10px;
        display: flex;
        align-items: center;
        * {
            cursor: pointer;
        }
        label {
            font-size: 1.8em;
            color: $green-black;
            padding-top: 5px;
        }
        img {
        height: 30px;
        }
    }

    &__buttons {
        display: flex;
        gap: 30px;
        // a * {
            
        // }
        a {
            display: flex;
            align-items: center;
            gap: 5px;

            * {
                cursor: pointer;
            }
        }

        a.btn-secondary {
            color: $green-black;

            label {
                margin-top: 2px;
            }
            
        }

        .icon {
            color: $green-black;
            height: 20px;
            width: 20px;
            border-width: 3px;
            
            path {
                stroke: $green-black;
                stroke-width: 2px;
            }
            
        }
    }

    &__toggle_mobile {
        display: none;
        width: 30px;
        height: 30px;
        
    }

    &__mobile_icon {
        
        color: $green-black;
        cursor: pointer;
    }
}

.footer {
    padding: 40px;
    background-color: $green-black;
    display: grid;
    grid-template-areas: "item1 item2 item3";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    * {
        color: $green-white;
    }
    
    a {
        font-size: 25px;
    }

    &_logo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        max-width: min-content;
        svg {
            width: 50%;
            height: fit-content;

            * {
                fill: $green-white;
                width: 140px;
            }
            
        }

        span {
            font-size: 60px;
            font-weight: 700;
        }
    }
}

.selected {
    
    outline: solid 2px $green-black-25;
}

// Responsive pour mobile
@media (max-width: 768px) {
    
    h1 {
        
        font-size: 28px;
    }

    h2 {
        font-size : 24px;
    }

    h3 {
        font-size: 20px;
    }

    p, span {
        font-size: 16px;
    }
    
    
    .navbar {
        &__logo {
            img {
                height: 20px;
            }
            label {
                font-size: 1.5em;
            }
        }
        &__buttons {
            display: none;
            
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;

            background-color: $green-medium;
            flex-direction: column;
            width: -webkit-fill-available;
            align-items: center;
            padding: 20px;
            gap: 30px;

            box-shadow: 0 2px 10px $green-black-25;
        }

        &__toggle_mobile {
            display: block;
        }
    }

    .footer {
        

        a {
            font-size: 20px;
        }

        span {
            font-size: 30px;
        }

        svg {
            width: 50%;
        }
    }
}

@media (max-width: 512px) {
    .footer {
        gap: 10px;
        grid-template-areas:
            "item2"
            "item1"
            "item3";
        grid-template-columns: 1fr;

        .item-1 {
            grid-area: item1;
          }
          .item-2 {
            grid-area: item2;
          }
          .item-3 {
            grid-area: item3;
          }

        svg {
            width: 50px;
        }

        a {
            font-size: 16px;
        }


    }
    
}
