.body-content.autre-profil {
    align-items: center;

    .user-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;

        &-photo-profil {
            height: 100px;
            width: 100px;
            border-radius: 100px;
        }

        &-infos {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;

            h3 {
                margin-top: 3px;
            }

            &-note {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                opacity: 75%;

                span {
                    font-family: $nunito;
                    font-size: 20px;
                }
    
                svg {
                    height: 20px;
                    width: 20px;
                }
            }

           
        }

    }

    .user-datas {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        &-description {
            max-width: 600px;
            background-color: $green-medium;
            border-radius: 15px;
            padding: 10px;
            box-shadow: 0px 4px 10px $green-black-25;

            p {
                font-family: $nunito;
                margin-bottom: 0px;
                
            }

            p::first-letter {
                text-transform: capitalize;
            }
        }

        &-preferences {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px 20px;
            width: 100%;
            justify-content: center;

            .preference {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
                border-radius: 10px;
                justify-content: center;
    
                span {
                    font-family: $nunito;
                    white-space : nowrap;
                }
    
                svg {
                    width: 30px;
                    height: 30px;
                    min-width: 30px;
    
                    // * {
                    //     stroke: $green-black;
                    // }
                }
            }

        }

    }

    .avis-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        h4 {
            text-align: center;
            font-weight: 700;
        }

        .empty-message {
            text-align: center;
            font-family: $josefin-sans;
            font-size: 18px;
        }
            
        .avis {
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 15px;
            padding: 10px;
            background-color: $green-white;
            box-shadow: 0px 4px 10px $green-black-25;
            width: 100%;
            max-width: 600px;

            &-user-infos {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;

                span {
                    font-size: 20px;
                    text-transform:capitalize;
                    margin-bottom: -4px;
                }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 100px;
                }
            }

            &-note-infos {
                display: flex;
                flex-direction: row;
                gap: 10px;


                &-note {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    opacity: 75%;
                    align-items: center;

                    span {
                        margin-top: 3px;
                    }
                }

                p {
                    margin-bottom: 0px;
                }
            }

            svg {
                width: 20px;
                height: 20px;
            }
        }

        .avis.negative {
            background-color: rgb(252, 226, 226);
        }
    }

}