
@import 'variables.scss';


.body-content {
    padding: 0px !important;
}

.home-intro {
    // position: relative;
    display: flex;
    width: 100%;
    background-image: url("../images/home-background.jpg");
    background-size: cover;
    background-position: center;
    height : 400px;


    align-items: flex-end;
    justify-content: center;
    

    .linear-gradient {
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, $blue-background);
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    :before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, $blue-background);
    }

    h1 {
        text-align: center;
        
        color: $green-black;
        margin: 20px;
        margin-bottom: -10px;

        img {
            width:50px; height:50px;
        }
        
    }

    

      

}

/* Conteneur principal des suggestions */
.pac-container {
    border-radius: 10px !important;
    // box-shadow: 0 4px 12px rgba(0,0,0,0.2) !important;
    min-width: 300px;
    font-family: 'Inter', sans-serif !important;
    z-index: 9999 !important;

    
    
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
}

/* Chaque suggestion */
.pac-item {
    
    padding: 12px 16px !important;
    border-bottom: 1px solid #eee !important;
    font-size: 14px !important;

    * {
        font-family: $nunito !important;
    }
}

.pac-icon {
    display: none;
}

form {
    margin: 40px;
    padding: 20px;
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $green-medium;
    border-radius: 20px;
    box-shadow: 0px 2px 10px $green-black-25;
    max-width: 1200px;
    

    > div {
        display: flex;
        flex-direction: row;
        gap: 20px;
        flex-grow: 1;
        background-color: $green-white;
        align-items: center;
        padding: 10px 15px;
        border-radius: 10px;

        input {
            border: none;
            background: none;
            font-family: $josefin-sans;
            width: 100%;
            color: $green-black;
            text-overflow: ellipsis;
            
            // font-family: $nunito;
            

            
        }

        input:focus {
            outline: none;
        }

        input::placeholder {
            color: $green-black-50;
            opacity: 100%;
        }

        svg {
            color: $green-black;
            width: 25px;
            height: 25px;
            * {
                stroke: $green-black;
                stroke-width: 3px;
            }
            
        }

        
    }

    #nb-passager-section {
            max-width: fit-content;
    }

    #nb-user-div{
        display: flex;
        flex-direction: row;
        gap: 10px;

        span {
            color: $green-black;
            white-space: nowrap;
            margin-top: 1%;

        }
        #nb-passager-btns {
            display: flex;
            flex-direction: row;
            gap: 10px;
            
        }

        #nb-passager-btns > div {
            padding: 5px;
            background-color: $green-black;
            color: $green-white;
            font-size: 2em;
            border-radius: 100px;
            width: 25px;
            height: 25px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;

        }



        #plus-icon * {
            
            stroke : $green-white;
            stroke-width: 1.5px;
        }

        

        #minus-icon div {
            background-color: $green-white;
            height: 3px;
            border-radius: 10px;
            width: 60%;
        }
        
    }
    

    #lieu-depart-icon {
        border-radius: 100px;
        border: solid 3px;
        border-color: $green-black;
        width: 20px;
        height: 20px;
        aspect-ratio: 1/1;
    }

    #lieu-arrivee-icon {
        border-radius: 100px;
        border: solid 3px;
        border-color: $green-black;
        width: 20px;
        height: 20px;
        aspect-ratio: 1/1;
        padding: 2px;

        div {
            background: $green-black;
            border-radius: 100px;
            width: 100%;
            height: 100%;
        }
    }

    > button {
        border-radius: 15px !important;
        display: flex;
        gap: 10px;
        flex-direction: row;
        align-items: center;
        padding-left: 15px !important;

        svg {
            color: $green-white;
            width: 20px;
            height: 20px;
            * {
                stroke: $green-white;
                stroke-width: 3px;
            }
        }
    }

    #place-picker-box {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      #place-picker-container {
        text-align: left;
      }
    
} 

#description-section {
    display: flex;
    flex-direction: column;
    background-color: $green-black;
    align-items: center;
    padding: 40px;
    color: $blue-background;
    gap: 20px;

    > * {
        color: $blue-background;   
    }

    h2, p, span {
        
        text-align: center;
    }

    span {
        font-size: 18px;
        color: $green-black;
    }

    #advantage-section {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        justify-content: space-around;
        

        .advantage-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            background-color: $blue-background;
            
            padding: 20px;
            border-radius: 20px;

            img {
                width: 80px;
                height: 80px;
            }
        }
        
    }
    
}

.user_type_section {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 50px;
    align-items: center;
    justify-content: space-around;
    

    &_conducteur, &_passager {
        border: solid 5px;
        padding: 20px;
        padding-top: 40px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 80%;
        max-width: 500px;
        text-align: center;
        
        span {
            font-size: 32px;
            
        }
    }

    a {
        width: 100%;
        border-radius: 10px;
        
    }

    svg {
        height: 50px;
        width: 50px;
        
    }

    &_conducteur {
        border-color: $green-black ;
        span {
            color: $green-black;
        }
        

        &_icon *{
            color: $green-black;
            // stroke: $green-black;
            // stroke-width: 1px;
        }
    }

    &_passager {
        border-color: $blue-btn;

        span {
            color: $blue-btn;
        }

        &_icon * {        
            stroke: $blue-btn;
            stroke-width: 2px;
        }
    }

    
    
}


@media (max-width: 1024px) {

    form {
        flex-direction: column;

        #nb-passager-section {
            max-width: unset;
        }

        button {
            justify-content: center;
        }

        #nb-user-div {
            width: 100%;
            justify-content: space-between;
            align-items: center;

            span {
                margin-top: 0px;
            }
        }

        
    }

    
}

@media (max-width: 728px) {
    .home-intro h1 {
        
        margin-bottom: -30px;

        img {
            height: 30px;
            width: 30px;
        }
        
    }

    #description-section  {
        padding: 40px 20px;
        gap: 20px;

        
        
        p {
            font-size: 15px;
        }
        #advantage-section {
            flex-direction: column;
            
            
    
            .advantage-div {
                flex-direction: row;
                border-radius: 100px;
    
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .user_type_section {
        
        flex-direction: column;
        gap: 20px;

        &_conducteur, &_passager {
            padding: 20px;
            width: 100%;
        }

        span {
            font-size: 24px;
        }

        a {
            width: fit-content;
        }

        svg {
            display: none;
        }
    }

}

@media (max-width: 512px) {
    #description-section span {
            font-size: 16px;
    }
}
