@import 'variables.scss';

nav.connect, footer.connect, nav.register-step-two, footer.register-step-two {
    display: none !important;
}

.body-content.connect {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 0px;
    min-height: 100vh;

    

    .form-section, .image-section {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        margin: 20px;
    }

    .form-section {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        min-height: 80vh;

        

        &-form {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: auto;
            gap: 20px;

            .register-login-btns {
                display: flex;
                flex-direction: row;
                gap: 20px;
            
                h2 {
                    color: $green-black;
                    font-weight: 600;
                    opacity: 75%;
                    cursor: pointer;
                }

                h2.active {
                        font-weight: 700;
                        opacity: 100%;
                        pointer-events: none;
                        cursor: none;
                }
            
            }
            
        }

    }

    

    .image-section {
        // position: relative;
        display: flex;
        width: 100%;
        background-image: url("../images/home-background.jpg");
        background-size: cover;
        background-position: center;
        height: auto;
        border-radius: 20px;
        opacity: 80%;
        min-height: 200px;
    
    
        align-items: flex-end;
        justify-content: center;
    }
    

    
}

.register-form, .login-form {

    display: flex;
    flex-direction: column;
    gap: 20px;

    

    > div {
        display: flex;
        flex-direction: column;
        gap:5px;

        input {
            border-radius: 10px;
            border: none;
            background-color: $green-white;
            padding: 10px 5px;
            // outline-color: $green-black;
        }

        input:focus {
            outline-color: $green-black;
            // box-shadow: 0 0 0 3px $green-black;
            
        }

        #password-criteria  {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            height: fit-content;
            

            span {
                
                font-size: 12px;
                transition: color 0.3s ease;
                border : solid 1.5px;
                padding: 0px 5px;
                width: fit-content;
                border-radius: 20px;
                font-family: $nunito;
                border-color: $green-black;
            }
            
            .valid {
                color: $green-white;
                background-color: $green-black;
              }
              
            .invalid {
                color: $green-black;
                
            
            }
        }

        .forget-password {
            color: $green-black;
            text-decoration: underline;
            font-family: $nunito;
        }

        
    }
      

    .cgu-section {
        display: flex;
        flex-direction: row;
        gap: 5px;
        * {
            color: $green-black;
        }

        svg {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        span {
            font-family: $nunito;

            a {
                text-decoration: underline;
            }

        }
    }

    button {
        font-size: 20px;
    }

}

@media (max-width: 1024px) {
    .body-content.connect {
        flex-direction: column-reverse;
        justify-content: flex-end;
        

        .image-section {
            height: 100%;
            width:  -webkit-fill-available;
            margin: 0px;
            border-radius: 0px;
            z-index: 1;
            flex-grow: 1;
            max-height: 40vh;
        }

        .form-section {
            width: -webkit-fill-available;
            height: 100%;
            padding-top: 0px;
            min-height: unset;
        }

        .form-section-form {
            margin-bottom: 20px;
        }
    }
}








