@import 'variables.scss';

.body-content.register-step-two {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 40px 20px;

    form {
        height: 100%;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        
        div {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            

            input {
                flex-grow: 1;
            }
            
        }

        .profil-picture-div {
            flex-direction: column;
            align-items: center;
            

            div {
                width: fit-content;
                
                background-color: $green-white;
                // box-shadow: 0px 0px 5px $green-black-25;
                border-radius: 100px;
                cursor: pointer;

                svg {
                    padding: 30px;
                    height: 100px;
                    width: 100px;
                    color: $green-black;
                    
                    * {
                    
                    stroke-width: 3px;

            
                    }
                }
            }

            label {
                text-align: center;
            }
        }

        

        button {

            width: 100%;

        }
    }
}

@media (max-width: 512px) {

    .body-content.register-step-two {
        form {
            div {
                flex-direction: column;
                align-items: flex-start;

                * {
                    width: 100%;
                }
            }
        }
    }
}