
$blue-background : #f4faff;
$blue-btn :  #37abc7;
$green-black : #386150;
$green-black-75: rgba($green-black, .75);
$green-black-50: rgba($green-black, .50);
$green-black-25: rgba($green-black, .25);
$green-medium : #EAFFF3;
$green-white : #f6fffa;
$green-btn : #58fea0;

$josefin-sans : "Josefin Sans", sans-serif;
$nunito : "Nunito", sans-serif;