<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar">
            
            <a href="/" class="josefin-sans-title navbar__logo">
                <img src="./ecoride-logo.svg" alt="ecoride-logo">
                <label>EcoRide</label>
            </a>
            <div class="navbar__buttons" id="navbar-btns">
                <twig:ux:icon name="maki:cross" class="navbar__mobile_icon" id="navbar-close-mobile-menu" display="none" style="width:20px; height:20px;"/>
                <a href="/rechercher" class="btn-secondary">
                    <twig:ux:icon name="iconamoon:search" class="icon"/>
                    <label>Rechercher</label>
                </a>
                <a href="/publier-trajet" class="btn-secondary">
                    <twig:ux:icon name="simple-line-icons:plus" class="icon"/>
                    <label>Publier un trajet</label>
                    {# icon plus #}
                </a>

                <a href="/login" class="btn-green-black">Se connecter</a>
            </div>

            <twig:ux:icon name="material-symbols:menu-rounded" id="navbar-menu-icon" class="navbar__toggle_mobile navbar__mobile_icon" style="width:30px; height: 30px"/>

            {# <div class="navbar__menu">
                <a href="#" class="">Publier un trajet</a>
                <a href="#" class="btn btn--secondary">Se connecter</a>
            </div> #}

            
        </nav>
    
        <div class="body-content">{% block body %}{% endblock %}</div>

        <footer class="footer">            
            <a href="/contact" class="item item-1">Contact</a>
            <a href="/" class="footer_logo" class="item item-2">
                
                <svg  width="311" height="223" viewBox="0 0 311 223" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 4.08852C0 1.83049 1.83049 0 4.08852 0H207.969C231.679 0 250.899 19.2202 250.899 42.9295C250.899 66.6387 231.679 85.8589 207.969 85.8589H81.7705C36.6099 85.8589 0 49.2491 0 4.08852Z" fill="#386150"/>
                    <path d="M311 217.873C311 220.306 309.027 222.279 306.593 222.279H107.324C81.7702 222.279 61.0552 201.564 61.0552 176.011C61.0552 150.457 81.7703 129.742 107.324 129.742H222.87C271.543 129.742 311 169.2 311 217.873Z" fill="#386150"/>
                </svg>
                <span >EcoRide</span>
            </a>
            <a href="/mentions-legales" class="item item-3">Mentions légales</a>
        </footer>
        
    </body>
</html>
