<div class="header">
    <div onclick="history.back()" class="back-btn">
        <twig:ux:icon name="tabler:chevron-left" id="" class="icon"/>
        <span class="pc-tablet-only">Retour</span>
    </div>
    <h1>{{ title }}</h1>
</div>