{% set pageClass = 'ajouter-credits' %}
{% extends 'base.html.twig' %}

{% block title %}Ajouter des crédits{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'header.html.twig' with { title: 'Ajouter des crédits' } %}

    <div>
        
    </div>
{% endblock %}